<div *ngFor="let service of services" 
     class="service-card" 
     [class.selected]="selectedService?.id === service.id" 
     (click)="onServiceSelect(service)">
  
  <div class="service-icon">
    <img [src]="service.icon" [alt]="service.title">
  </div>
  <div class="service-content">
    <h4 class="service-title">{{ service.title }}</h4>
    <p class="service-description">{{ service.description }}</p>
  </div>
  <div class="selection-indicator" *ngIf="selectedService?.id === service.id">
    <span class="checkmark">✓</span>
  </div>
</div>